:root {
    --darkOrchid: #6A1F9A;
}

html, body {
    margin:0px;
    height:100vh;
  }
  
  .canvas {
    background: var(--darkOrchid);
    height:100vh;
  }

  #loginBox {
    margin: auto;
    
  width: 75%;
  height: 1 ;
  border: 2px solid green;
  
 
  }