:root {
    --darkOrchid: #6A1F9A;
}

html, body {
    margin:0px;
    height:100vh;
  }
  
  .canvas {
    background: var(--darkOrchid);
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #loginBox {
    margin: auto;
    
    width: 70%;
    height: 80vh ;
    border: 2px solid green;
    
    display: flex;
    align-items: center;
    justify-content: center;
 
  }